{{#if users}}
  <div class="users-grid">
    {{#each users}}
      <div class="user-card">
        <div class="user-info">
          <div class="title">
            <h3>{{this.name}}</h3>
            <p class="category">💼 {{this.occupation}}</p>
          </div>
          <p class="discription">{{this.newsletter}}
          </p>
        </div>
        <div class="user-actions">
          <form action="/idea/agree/{{this.id}}" method="POST">
            <img
              onclick="return confirm('Tem certeza que deseja votar que SIM?')"
              src="/assets/like.png"
              alt="like"
              class="like-icon"
            />

          </form>
          <form action="/idea/desagree/{{this.id}}" method="POST">
            <img
              onclick="return confirm('Tem certeza que deseja votar que NÃO?')"
              src="/assets/dislike.png"
              alt="dislike"
              class="dislike-icon"
            />
          </form>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="empty-state">
    <h3>Nenhuma ideia cadastrada ainda</h3>
    <p>Que tal adicionar a primeira ideia?</p>
    <button onclick="openModal('createIdea')" class="btn-primary">Criar Primeira Ideia</button>
  </div>
{{/if}}
  
  {{#if error}}
    <p class="message error">{{error}}</p>
  {{/if}}

  {{#if success}}
    <p class="message success">{{success}}</p>
  {{/if}}
</div>


{{> createIdeaModal}}